body {
    background: linear-gradient(white, grey);
    width: auto;
    height: auto;
    font-family: sans-serif;  
}

ul li {
    font-weight: bold;
}

#jumbotron-img {
    border-radius: 4rem;
    max-width:30rem;
    max-height:15rem;
    text-align: center;
    border-style: solid;
}

figure {
    text-align: center;
}

.titular {
    text-align: center;
}

#contacto {
    margin-top: 2rem;
}

#catalogo {
    margin-top: 2rem;
}

#seccion3 {
    margin-top: 2rem;
}

footer {
    background-image: url(/images/fondo_footer.jpg);
    margin-top: 4rem;
    padding: 2rem 1rem;
    background-size: contain;
    opacity: 1;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
}